body{
    background-color: white
}

.stack{
    margin-bottom:10px;
    display:block;
}

.title{
    color:black
}

.loginStyle{
    cursor:pointer;
    background-color: black;
    color:white;
    padding:5px;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    transition: opacity 0.1s;
}

.loginStyle:hover{
    opacity:.5;
}

.signupStyle{
    cursor:pointer;
    background-color: black;
    color:white;
    padding:5px;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    transition: opacity 0.1s;
}

.signupStyle:hover{
    opacity:.5;
}